body {
  margin: 60px;
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 27px;
  text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.6);
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
}

.wbfade {
  position: absolute;
  width: 100%;
  min-height: 250px;
}

.topfade {
  top: 0px;
}
.bottomfade {
  bottom: 0px;
}

.light {
  font-family: "Rubik", sans-serif;
  font-weight: 300; }

.wb-unsplash-bg-attribution {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 60px;
	font-size: 16px;
	z-index: 10;
}

.wb-unsplash-bg-error {
	position: absolute;
	bottom: -5px;
	text-align: center;
  width: 100%;
	z-index: 10;
}
.wb-unsplash-bg-error .wb-error-reason {
  text-transform: uppercase;
  padding: 0px 5px;
  margin-bottom: -8px;
}

.wb-unsplash-bg-error .wb-error-info {
  font-size: 20px;
}

.wb-unsplash-bg-error .wb-error-icon {
  color: red;
  padding: 0px 5px;
}

  /* rubik-300 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: local('Rubik Light'), local('Rubik-Light'),
       url('../fonts/rubik-v7-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/rubik-v7-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-regular - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik'), local('Rubik-Regular'),
       url('../fonts/rubik-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/rubik-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
