<div class="weather">
	{% if weather %}
	<div class="weather__current">
		<div class="current__temperature light">{{ weather.currentTemp }}<i class="wi wi-degrees"></i><i class="wi wi-forecast-io-{{ weather.currentIcon }} wi-current"></i>
		</div>
		<div class="weather__description">{{ weather.currentDescription }}</div>
	</div>
  <div class="weather__weeklyforecast">
  {% for day in weather.forecast %}
    <div class="forecast">
			<div class="forecast__day">{{ day.dayLabel }}</div>
			<div class="forecast__icon"><i class="wi wi-forecast-io-{{ day.icon }}"></i></div>
			<div class="forecast__rainchance"><i class="wi {{ day.precipType }}"></i>{{day.precipProbability}}%</div>
			<div class="forecast__highlow">{{ day.lowTemp }}<i class="wi wi-degrees"></i> &middot; {{ day.highTemp }}<i class="wi wi-degrees"></i></div>
		</div>
    {% endfor %}
	</div>
	{% elif status.error %}
	<div class="wb-errors">{{ status.error | safe }}</div>
	{% elif status.loadingMessage %}
	<div class="wb-loading">{{ status.loadingMessage | safe }}</div>
	{% endif %}
</div>
